@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

$fontStyle: "Space Mono", monospace;
$color-palette-1: rgb(58, 43, 72);
$color-palette-2: #694961;
$color-palette-3: #8f677293;
$color-palette-4: rgba(142, 71, 78, 0.541);
$color-palette-5: rgba(21, 10, 14, 0.671);
$color-palette-6: rgba(25, 27, 55, 0.747);
$color-palette-7: rgba(154, 121, 126, 0.747);
$color-palette-8: rgba(187, 110, 101, 0.664);
$color-palette-9: rgba(115, 79, 88, 0.555);
$color-palette-10: rgba(254, 255, 225, 0.582);
$text-color-1: rgb(48, 36, 59);
$text-color-2: rgb(221, 162, 94);
$text-color-3: rgb(252, 240, 227);
$text-color-4: rgb(255, 149, 28);
$BP_SMALL: "400px";
$BP_MEDIUM: "660px";
$BP_LARGE: "760px";
$BP_XLARGE: "920px";
$BP_XXLARGE: "1000px";
